<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Credit App</h1>
    <h2>All your loan problems at one place</h2>
    <a href="/new_loan">New Loan</a>
    <a href="/get_dash">Admin Dashboard</a>
    <a href="/get_dashVerify">Verifier Dashboard</a>
    

</body>
</html>